<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/products">Product Management</a>
    </div>
    <ul class="nav">
      <li>
        <a
          class="m-2 p-2 rounded-border"
          routerLinkActive="selected"
          routerLink="new-product"
          >New</a
        >
      </li>
      <li>
        <a class="m-2 p-2" routerLinkActive="selected" routerLink="products"
          >Product List</a
        >
      </li>
    </ul>
  </div>
</nav>
